/* GUI blend http://gel.westpacgroup.com.au/GUI/WBC/blender/#/_colors:2.0.1/_fonts:2.0.2/_grid:2.0.0/_javascript-helpers:2.0.0/_text-styling:4.0.0/text-extensions:2.0.1 */


/* ---------------------------------------| GUI MODULES |--------------------------------------- */
@import '_colors.less';
@import '_fonts.less';
@import '_grid.less';
@import '_text-styling.less';
@import 'text-extensions.less';


/* ---------------------------------------| SLIDER CSS |--------------------------------------- */
@import 'slider.less';
@import 'slide.less';
@import 'slide-text.less';


/* ---------------------------------------| BESPOKE |--------------------------------------- */
.container-fluid, //you probably don't need this bit in other implementations
.wrapper {
	max-width: 1920px;
	margin: 0 auto;
}

.example {
	background-color: @color-A;
	margin-top: 6em;
	padding-bottom: 6em;
}