.slide {
	position: relative;
	height: 420px;
	overflow: hidden;
	background-color: @color-A;


	&:focus {
		.outline();
	}

	@media (min-width: @screen-sm) {
		height: 390px;

		&:after {
			content: '';
			position: absolute;
			right: -1px;
			width: 190px;
			top: 0;
			bottom: 0;
			background-position: right;
			background-size: auto 100%;
		}
	}

	.slide-text {
		position: absolute;
		left: 0;
		right: 0;
		top: 120px;
		bottom: 0;
		font-size: 1em;
		padding: 2em;
		overflow: auto;
		background-position: 103% 0;
		background-size: auto 100%;
		background-color: @color-A;

		@media (min-width: @screen-sm) {
			right: 50%;
			top: 0;
			padding: 2em 120px 2em 2em;
			background-position: right;
			background-size: auto 100%;
			background-color: transparent;
		}
	}

	.slide-img {
		width: 133%;
		margin: -4% -21% 0 auto;
		float: right;

		@media (min-width: @screen-sm) {
			width: auto;
			height: 390px;
			margin: 0;
		}

		@media (max-width: 319px) {
			height: 120px;
			width: auto;
			margin: 0 -60px 0 0;
		}
	}
}